body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

h1{
	background-color: steelblue;
	color: white;
	text-align: center;
	margin-bottom: 0;
	padding: 20px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.5s ease-out;


}

h1 +div{
	background-color: white;
}

#nav{
	color: steelblue;
	height: 23px;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	
	cursor: pointer;

}

.square{
	padding-bottom: 30%;
	width: 30%;
	background-color: yellow;
	margin: 1.66%;
	float: left;
	border-radius: 40px;
	transition: all 0.5s ease-out;

}

#container{
	max-width: 600px;
	margin: 20px auto;

}

#message{
	display: inline-block;
	width: 54%;
}

#easy{
	margin-right: 15px;
}

#display{
	font-size: 54px;
}

.selected{
	background: steelblue;
	color: white;
}

div span:hover{
	background: steelblue;
	color: white;
	transition: all 0.5s ease-out;	
}

div span{
	padding: 0 4px;
}
